*~
.*~
*.db
*.log
*.ncb
*.pdb
*.sdf
*.suo
*.vcproj.*.user
*.vcxproj.user

.vs
.Rhistory

bin/.intermediate_*
bin/unittest/

bin/standalone/K-Meter*.exe
bin/standalone/kmeter_*

bin/vst2/K-Meter*.dll
bin/vst2/kmeter_*.so

bin/vst3/K-Meter*.vst3
bin/vst3/kmeter_*.so

skins/default_skin.ini

Source/api/
Source/frut/unittest/unittest.cpp

final/
ignore/
releases/

ipch/
Debug/
Release/
