{% set copyright = [
  '----------------------------------------------------------------------------',
  '',
  'K-Meter',
  '=======',
  'Implementation of a K-System meter according to Bob Katz\' specifications',
  '',
  'Copyright (c) 2010-2020 Martin Zuther (http://www.mzuther.de/)',
  '',
  'This program is free software: you can redistribute it and/or modify',
  'it under the terms of the GNU General Public License as published by',
  'the Free Software Foundation, either version 3 of the License, or',
  '(at your option) any later version.',
  '',
  'This program is distributed in the hope that it will be useful,',
  'but WITHOUT ANY WARRANTY; without even the implied warranty of',
  'MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the',
  'GNU General Public License for more details.',
  '',
  'You should have received a copy of the GNU General Public License',
  'along with this program.  If not, see <http://www.gnu.org/licenses/>.',
  '',
  'Thank you for using free software!',
  '',
  '----------------------------------------------------------------------------'
] %}


{% set version = '2.8.2' %}
{% set vst2_category = 'Tools/Analyzer/Meter' %}


{% set name = {'real': 'K-Meter', 'short': 'kmeter'} %}


{% set variants = [{'real':    'Stereo',
                    'short':   'stereo',
                    'defines': ['KMETER_STEREO=1']},

                   {'real':    'Surround',
                    'short':   'surround',
                    'defines': ['KMETER_SURROUND=1']}] %}


{% set includes = {
  'paths': [
    "JuceLibraryCode",
    "libraries",
    "libraries/juce/modules",
    "Source/frut"
  ],
  'paths_unittest': [
    "libraries/googletest/googletest/include"
  ],
  'files': [
    "Source/frut/FrutHeader.h"
  ],
  'files_unittest': [
  ]
} %}


{% set variants_vst2 = variants %}


{% set additions_solution %}

    filter { "system:linux", "platforms:x32" }
        linkoptions {
            -- force static linking to FFTW
            "../../../libraries/fftw/bin/linux/i386/libfftw3f.a"
        }

    filter { "system:linux", "platforms:x64" }
        linkoptions {
            -- force static linking to FFTW
            "../../../libraries/fftw/bin/linux/amd64/libfftw3f.a"
        }
{% endset %}


{% set additions_packaging = {
  'default': [
    'archive_add "RESOURCE_INPUT/Documentation/kmeter.pdf" ""',
    'archive_add "RESOURCE_INPUT/Documentation" "RESOURCE_OUTPUT"',
    'archive_add "RESOURCE_INPUT/Skins/Default" "RESOURCE_OUTPUT/Skins"',
    'archive_add "RESOURCE_INPUT/Skins/Default.skin" "RESOURCE_OUTPUT/Skins"'
  ],

  'standalone_windows_32': [
    'archive_add "RESOURCE_INPUT/FFTW" "RESOURCE_OUTPUT"',
    'archive_del "RESOURCE_OUTPUT/FFTW/libfftw3f-3_x64.dll"'
  ],

  'standalone_windows_64': [
    'archive_add "RESOURCE_INPUT/FFTW" "RESOURCE_OUTPUT"',
    'archive_del "RESOURCE_OUTPUT/FFTW/libfftw3f-3.dll"'
  ],

  'vst2_windows_32': [
    'archive_add "RESOURCE_INPUT/FFTW" "RESOURCE_OUTPUT"',
    'archive_del "RESOURCE_OUTPUT/FFTW/libfftw3f-3_x64.dll"'
  ],

  'vst2_windows_64': [
    'archive_add "RESOURCE_INPUT/FFTW" "RESOURCE_OUTPUT"',
    'archive_del "RESOURCE_OUTPUT/FFTW/libfftw3f-3.dll"'
  ],

  'vst3_windows_32': [
    'archive_add "RESOURCE_INPUT/FFTW" "RESOURCE_OUTPUT"',
    'archive_del "RESOURCE_OUTPUT/FFTW/libfftw3f-3_x64.dll"'
  ],

  'vst3_windows_64': [
    'archive_add "RESOURCE_INPUT/FFTW" "RESOURCE_OUTPUT"',
    'archive_del "RESOURCE_OUTPUT/FFTW/libfftw3f-3.dll"'
  ]
} %}
